version: '3.8'

services:
  cassandra:
    image: cassandra:4.1
    container_name: cassandra
    ports:
      - "9042:9042"
    environment:
      CASSANDRA_START_RPC: "true"
      CASSANDRA_LISTEN_ADDRESS: cassandra
      CASSANDRA_BROADCAST_ADDRESS: cassandra
      CASSANDRA_CLUSTER_NAME: "notes-cluster"
    volumes:
      - cassandra-data:/var/lib/cassandra

  redis:
    image: redis:7.0
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  cassandra-data:
  redis-data:
